*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container {
	max-width: 80%;
	background-color:rgb(198, 152, 241);
	padding: 34px;
	margin: auto;
}
.container h2,p{
text-align:center;
}
input,textarea{

	    width:100%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}
form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.btn{
	color: white;
	background: purple;
	padding: 8px 12px;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 14px;
	cursor: pointer;
}
.submitMsg{
	color:green;
	

}


